

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
/* 
  CSS Start
*/
.container{
  width: 100%;
}

.row{
  width: 100%;
}

.col-6{
  width: 100%;
}
.col-4{
  width: 100%;
}

.col-12{
  width: 100%;
}

.header .nav{
  text-align: left;
}

.header .nav li a{
  text size:  12px;
  margin top: 20px;
}


.banner {
    
    padding: 40px 0px;
}

.banner h1 {
    font-size: 30px;
    line-height: 40px;
}

.successfull{
  padding: 30px 0px;
}
.inner-success-right h1{
  font-size: 44px;
  line-height: 54px;
  text-align: right;
  margin-right: 20px;
}

.feature {
 padding: 35px 0px;
}

.inner-feature{
  margin-bottom: 20px;
}

.footer p {
    font-size: 8px;
    }

/* 
  CSS End
*/

}





/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

 /* 
  CSS Start
*/
  
 .container{
  width: 100%;
}

.row{
  width: 100%;
}

.col-6{
  width: 100%;
}
.col-4{
  width: 100%;
}

.col-12{
  width: 100%;
}

 .header .nav{
 text-align: left;
}

.header .nav li a{
  text size:  12px;
  margin top: 20px;
}


.banner {
  padding: 40px 0px;
}

.banner h1 {
  font-size: 30px;
  line-height: 40px;
}

.successfull{
  padding: 30px 0px;
}
.inner-success-right h1{
  font-size: 44px;
  line-height: 54px;
  text-align: right;
  margin-right: 20px;
}

.feature {
 padding: 35px 0px;
}

.inner-feature{
  margin-bottom: 20px;
}

.footer p {
    font-size: 12px;
    }

/* 
  CSS End
*/
  
}



/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px){
/* 
  CSS Start
*/
  .container{
  width: 80%;
  }
  .inner-feature{
    width: 70%;
  }

  /* 
  CSS End
*/

  }